<div style="padding: 5px 5px 5px 5px; min-width: 800px; width: 1280px; height: 100%;">

	<table style="outline-style: solid; outline-width: medium; outline-color: #e6e6e6; padding: 5px 5px 5px 5px; width: 100%;">
		<tr>
			<td align="left"><div data-location="logo"></div></td>
			<td align="left"><div data-location="title"></div></td>
		</tr>
	</table>
	
	<table style="outline-style: solid; outline-width: medium; outline-color: #e6e6e6; padding: 5px 5px 5px 5px; margin-top: 10px">
		<tr>
			<td align="left"><div data-location="buttonApp0"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp1"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp2"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp3"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp4"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp5"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp6"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp7"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp8"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp9"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp10"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp11"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp12"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp13"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp14"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp15"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp16"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp17"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="buttonApp18"></div></td>
		</tr>
	</table>

</div>